fastapi
uvicorn
python-dotenv
groq
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
pypdf
pydantic
streamlit
pandas
plotly
httpx
